<div class="accordion" id="liberty-limits-map">
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-map">
      <button
        class="accordion-button collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-map"
        aria-expanded="false"
        aria-controls="collapse-map">
        Liberty Limits Map
      </button>
    </h2>

    <div
      id="collapse-map"
      class="accordion-collapse collapse"
      aria-labelledby="heading-map"
      data-bs-parent="#liberty-limits-map">
      <div class="accordion-body container">
        <div id="liberty-map" class="map"></div>
        <br>
        <form onsubmit="event.preventDefault(); addressToLatLng();">
          <div class="form-group">
            <label for="address">Address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              placeholder="Enter full address"
              autocomplete="off">
            <small class="form-text text-muted">
              By entering an address, you agree to our
              <a href="/legal/#user-data-policy">user data policy</a>.
            </small>
          </div>
          <button
            onclick="event.preventDefault(); addressToLatLng();"
            type="button"
            class="btn btn-secondary btn-block mt-2 w-100">Check Distance</button>
          <div
            id="spinner-display"
            class="justify-content-center align-items-center mt-2"
            style="height: 30px; display: none;">
            <i class="fas fa-spinner fa-2xl fa-spin"></i>
          </div>
          <blockquote
            id="distance-display"
            class="prompt-info mt-2 mb-0"
            style="display: none;">Distance:
          </blockquote>
        </form>
      </div>
    </div>
  </div>
</div>

<script defer src="{{ '/assets/js/dist/liberty-map.min.js' | relative_url }}"></script>