---
layout: page
---

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      {% for contact in site.data.contacts %}
      <tr>
        <td>
          {{ contact.name }}
        </td>
        <td>{{ contact.location }}</td>
        <td>
          {% for phone in contact.phones %}
          <a href="tel:{{ phone }}">{{ phone | phone_number }}</a><br>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>