---
layout: page
---

{% assign contacts = site.data.contacts | group_by: "category" %}

{% for contactsGroup in contacts %}
  <h3>{{ site.data.locales[site.lang].contacts.categories[contactsGroup.name] }}</h3>
  <div class="table-wrapper" id="contacts-table">
    <table style="width: 100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        {% for contact in contactsGroup.items %}
          <tr>
            <td>
              {% if contact.service_type == 'support' %}
                <i class="fas fa-headset"></i>
              {% elsif contact.service_type == 'police' %}
                <i class="fas fa-shield-halved"></i>
              {% elsif contact.service_type == 'medical' %}
                <i class="fas fa-heart-pulse"></i>
              {% elsif contact.service_type == 'fire' %}
                <i class="fas fa-fire"></i>
              {% endif %}
              {{ contact.name }}
            </td>
            <td>{{ contact.location }}</td>
            <td>
              {% for phone in contact.phones %}
                <a href="tel:{{ phone }}">{{ phone | phone_number }}</a><br>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endfor %}