#map {
    height: 400px;
}

.nav-tabs {
    --bs-nav-tabs-border-color: var(--btn-border-color);

    .nav-link {
        color: var(--link-color);
    }

    .nav-link.active {
        color: var(--text-color);
        background-color: var(--main-bg);
        border-color: var(--btn-border-color) var(--btn-border-color) var(--main-bg);
    }

    .nav-link:not(.active):hover {
        border-color: var(--btn-border-color) var(--btn-border-color) var(--btn-border-color);
    }
}

.card {
    background: var(--card-bg);
    box-shadow: var(--card-shadow);
    
    --bs-card-border-color: var(--btn-border-color);

    .card-header {
        color: var(--header-color);
    }
}

.table {
    --bs-table-striped-color: var(--text-color);
    --bs-table-color: var(--text-color);
    --bs-border-color: transparent;
}

tr td {
    border: 1px solid var(--card-bg);
}