#contacts-table {
  overflow-x: auto;

  > table {
    table-layout: auto; 
    width: 100%;

    th:nth-child(1), td:nth-child(1) {
      width: 50%;
      min-width: 150px;
      white-space: normal;
    }

    th:nth-child(2), td:nth-child(2) {
      min-width: 150px;
      white-space: normal;
    }
  
    th:nth-child(3), td:nth-child(3) {
      width: 20%;
      min-width: 100px;
    }
  }
}